<div class="container">

    <main>
      <div class="row mt-3">
            <div class="col">
                <div class="card" style="width: 100%;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                    <h5 class="card-title">Projects: {{projects}}</h5>

                    <a [routerLink]="['project']"  class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 100%;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                    <h5 class="card-title">Members: {{members}}</h5>

                    <a [routerLink]="['member']" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 100%;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                    <h5 class="card-title">Tasks: {{tasks}}</h5>

                    <a [routerLink]="['tasks']" class="btn btn-primary">Detail</a>
                    </div>
                </div>
            </div>

      </div>
    </main>

  </div>
