
<form style="margin-top:30px">
  <div class="mb-3">
    <label for="name" class="form-label">Name Task</label>
    <input type="text" class="form-control" id="name">
  </div>
  <label for="des">Description</label>
  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="des" style="height: 100px"></textarea>
  </div>
  <div class="mb-3">
    <label style="margin-top:20px" for="status" class="form-label">Status Task</label>
    <input type="text" value="pending" class="form-control" id="status">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

