<div class="container">

  <main>

      <div class="mt-3">
        <a [routerLink]="['add-project']"  class="btn btn-sm btn-success">Create project</a>
          <h3 class="mt-3">List Project</h3>
          <form class="d-flex mt-3">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching name project">
          </form>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>ProjectID</th>
                      <th>Date Of Start</th>
                      <th>Project Name</th>
                      <th>Team size</th>
                      <th>List Task</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let pr of projects | filter:searchText">
                      <td scope="row">{{pr._id}}</td>
                      <td>{{pr.startDate}}</td>
                      <td>{{pr.name}}</td>
                      <td>{{pr.teamSize}}</td>
                      <td><a [routerLink]="['list-task',pr._id]" class="btn btn-sm btn-success">List Task {{pr.name}}</a></td>
                      <td>
                        <a [routerLink]="['edit-project',pr._id]" class="btn btn-sm btn-info">Sửa</a>
                          &nbsp;
                          <button (click)="removeProject(pr._id)" class="btn btn-sm btn-danger">Xóa</button>
                      </td>
                  </tr>

              </tbody>
          </table>
      </div>
  </main>

</div>
